# Files/Folder to ignore in git

# Folders
__pycache__
build
dist
*.egg-info
.cache
.spyproject
# Test Folders
Profile
PWEM
Slab\ Waveguide

# General Files
*.log
*.so
*.pyd
*cpython*
*.png
*.pdf
*.gp
*.fsp
*.mat

# Specific files
*py_smm_base.cpp
