# Files/Folder to ignore in git

# Folders
__pycache__
build
dist
*.egg-info
*.eggs
.cache
.spyproject
wheelhouse
# Test Folders
Profile
PWEM
Slab\ Waveguide
PSO_Results

# General Files
*.log
# Allow binaries for easier installation
*.so
*.pyd
*cpython*
*.png
*.pdf
*.gp
*.fsp
*.ldev
*.mat

# Specific files
*py_smm_base.cpp
desktop.ini
